<!-- views/thongtincanhan.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin cá nhân</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <fieldset>
<legend>    <h1>Thông tin cá nhân</h1>
</legend>        
    <p>Họ tên: <%= user.name %></p>
    <p>Email: <%= user.email %></p>
    <p>Năm sinh: <%= user.year_old %></p>
    <p>Giới tính: <%= user.gioitinh === 'male' ? 'Nam' : 'Nữ' %></p>
    <a href="/dangxuat">Đăng xuất</a>
    </fieldset>
</body>
</html>